body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  font-weight: 600;
}

p, li {
  font-weight: 300;
}

.custom-navbar {
  background-color: #2a4543; 
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
  color: white;
  text-transform: uppercase;
}

.carousel-item img {
  height: 600px; 
  object-fit: cover; 
}

